<div class="row marketing">

    <div class="jumbotron" ng-controller="HttpCtrl">
        <div class="container">
            <div class="text-center row" ng-repeat="x in nombres| orderBy:'pais'">
                <div class="col-lg-6">
                    <strong>
                        {{ x.nombre | lowercase }}
                    </strong> 
                </div>
                <div class="col-lg-6">
                    <strong>
                        {{ x.pais | uppercase }}
                    </strong>
                </div>
            </div>
        </div>
    </div>	​

</div>